#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

.main-structure {
  flex-direction: row;
}

.bio-container {
  flex-direction: column;
}

.categories {
  border-bottom: 1px solid grey;
}