#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  font-family: ;
}

.photo,
.all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 70px;
  text-align: left;
}

.title {
  text-align: center;
}

.categories {
  border-bottom: 2px solid rgb(235, 235, 235);
  padding: 10px 0;
}

.categories[open] summary{
  padding: 10px;
  background-color: rgb(235, 235, 235);
}